$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.contain {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: rgb(31, 31, 31);
}
i {
  margin-right: 5px;
  color: #3f51b5;
}
%a-hover {
  color: red;
  text-decoration: underline;
}
ul {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: #e8eaef;
  main {
    header {
      .top-header {
        position: relative;
        font-size: 14px;
        padding: 5px 0;
        ul {
          padding-left: 20px;
          li {
            position: relative;
            float: left;
            padding-right: 10px;
            a:hover {
              @extend %a-hover;
            }
          }
        }
        .cart {
          float: right;
          padding-right: 10px;
          text-transform: uppercase;
          a:hover {
            @extend %a-hover;
          }
        }
      }
      nav {
        background-color: white;
        $color: #747272;
        box-shadow: 0px 1px 2px 0px #bbbbbb;
        .bottom-header {
          padding: 20px 0;
          .logo {
            display: inline-block;
            max-width: 250px;
            height: 80px;
            a {
              img {
                width: 250px;
              }
            }
          }
          .nav-bar {
            float: right;
            .box-search {
              border: 0.5px solid $color;
              border-radius: 5px;
              max-width: 300px;
              height: 30px;
              margin-left: auto;
              display: flex;
              align-items: center;
              overflow: hidden;
              input {
                border: none;
                outline: none;
                border: none;
                outline: none;
                width: 85%;
                height: 90%;
                margin-left: 10px;
                color: $color;
              }
              i {
                color: $color;
                padding: 15px;
                margin: 0;
                &:hover {
                  background-color: red;
                  color: white;
                }
              }
            }
          }
          .nav-link {
            position: absolute;
            bottom: 20px;
            right: 0px;
            z-index: 9999;
            ul {
              .link {
                text-transform: uppercase;
                font-size: 13px;
                a {
                  color: $color;
                  padding: 10px;
                  &:hover {
                    background-color: #23559a;
                    color: white;
                  }
                }
                .list-link {
                  width: 0px;
                  visibility: hidden;
                  position: absolute;
                  margin-top: 20px;
                  translate: all 3s;
                  background-color: white;
                  transition: margin 0.5s;
                  $b: 2px;
                  border: {
                    top: $b solid black;
                    bottom: $b solid black;
                  }
                  box-shadow: 0 0 8px 0 rgb(187, 187, 187);
                  ul {
                    display: block;
                    padding: 10px;
                    .chil-link {
                      position: relative;
                      width: 100%;
                      border-bottom: 1px dotted;
                      a {
                        display: block;
                        padding: 10px 0px;
                        text-transform: none;
                        i {
                          padding-left: 5px;
                          color: $color;
                        }
                        &:hover i {
                          color: white;
                        }
                      }
                      .list-2 {
                        position: absolute;
                        left: 180px;
                        top: 0px;
                        display: block;
                        margin-top: 10px;
                      }
                      &:hover > .list-2 {
                        width: 200px;
                        visibility: visible;
                        margin-top: 0px;
                      }
                    }
                  }
                }
              }
              .drop:hover > .list-link {
                width: 200px;
                visibility: visible;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
    article {
      section {
        position: relative;
        .slide-container {
          overflow: hidden;
          position: relative;
          width: 100%;
          .show-slide {
            position: relative;
            overflow: hidden;
            display: flex;
            .owl-item {
              .fade {
                img {
                  float: left;
                  width: 100vw;
                }
              }
            }
          }
          .button-click {
            a {
              margin: 0px 20px;
              position: absolute;
              top: 40%;
              transform: translate(0 -40%);
              &#right {
                right: 0px;
              }
              i {
                color: white;
                font-size: 18px;
                padding: 20px 15px;
                background-color: #aaa7ac82;
                border: 1px solid #ff000000;
                border-radius: 6px;
                margin: 0px;
                opacity: 0;
              }
            }
          }
          &:hover .button-click {
            a {
              i {
                opacity: 1;
              }
            }
          }
          .button-dot {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%, -0px);
            .dot {
              margin: 2px;
              width: 13px;
              height: 13px;
              border-radius: 50%;
              background-color: rgb(168, 164, 164);
              border: 1px solid white;
              display: inline-block;
              cursor: pointer;
            }
            .pick {
              background-color: red;
            }
          }
        }
        .slide-sp {
          padding: 40px 0px;
          margin-left: -15px;
          background-color: white;
          .contain {
            .global-content {
              .owl-tintuc {
                .owl-outline {
                  overflow: hidden;
                  position: relative;
                  .slide-item {
                    display: flex;
                    .owl-item-sp {
                      display: block;
                      padding-left: 15px;
                      .item {
                        border: 1px solid #79767691;
                        position: relative;
                        text-align: left;
                        display: block;
                        .para-item {
                          position: relative;
                          display: block;
                          padding: 5px;
                          .img {
                            padding: 0px;
                            margin: 0px;
                            img {
                              width: 100%;
                            }
                          }
                          .item-text {
                            padding: 0px 8px;
                            max-width: 200px;
                            div {
                              h4 {
                                margin: 3px 0;
                                color: #595959;
                                // word-break: break-all;
                                text-transform: capitalize;
                              }
                            }
                            .price {
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                              h3 {
                                margin: 5px 0;
                                color: red;
                              }
                              span {
                                font-size: 12px;
                                text-decoration: line-through;
                              }
                            }
                            div {
                              h6 {
                                margin: 2px 0;
                                color: #00000063;
                              }
                            }
                          }
                        }
                        .item-hover {
                          position: absolute;
                          top: 0px;
                          bottom: 0px;
                          background-color: #00000017;
                          width: 100%;
                          opacity: 0;
                          box-shadow: -5px 0px 8px 0px #8b8b8b;
                          .item-link {
                            display: block;
                            position: absolute;
                            top: 60%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: top 1s;
                            a {
                              i {
                                color: white;
                                font-size: 20px;
                                padding: 5px;
                                background-color: #02020273;
                                margin: 0px;
                              }
                              &:hover {
                                i {
                                  background-color: rgb(199, 157, 18);
                                }
                              }
                            }
                          }
                          &:hover {
                            opacity: 1;
                            .item-link {
                              top: 50%;
                            }
                          }
                        }
                      }
                    }
                  }
                  .button-click {
                    a {
                      margin: 0px 20px;
                      position: absolute;
                      top: 40%;
                      transform: translate(0 -40%);
                      &#rightSP {
                        right: -8px;
                      }
                      &#leftSP {
                        left: -4px;
                      }
                      i {
                        color: white;
                        font-size: 16px;
                        padding: 15px 10px;
                        background-color: #aaa7ac82;
                        border: 1px solid #ff000000;
                        margin: 0px;
                        opacity: 0;
                      }
                    }
                  }
                  &:hover .button-click {
                    a {
                      i {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      section {
        .infor-shop {
          background-image: url(./imgs/banner-bai-viet.jpg);
          background-attachment: fixed;
          padding: 40px 0px;
          .contain {
            .infor {
              background-color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              .img-shop {
                width: 100%;
                padding: 10px;
                img {
                  width: 100%;
                }
              }
              .text-sp {
                padding: 10px;
              }
            }
          }
        }
      }
    }
  }
}
