body {
  font-family: 'Noto Serif', serif;
  background-image: url(./imgs/paner.jpg);
  background-size: 100% 100vh;
  // background-repeat: no-repeat;
  background-attachment: fixed;
  header {
    nav {
      a {
        img {
          max-height: 70px;
        }
      }
    }
  }
}
input.form-control.mr-sm-2 {
  background-color: transparent;
}